<div class=" p-5 rounded-lg m-3" style="background:#a2a4a671">
  <h1 class="display-4">Bem-vindo ao blog!</h1>
  <p class="lead">Este é im simples Blog desenvolvido com Node.js + Express + MongoDb</p>
  <hr class="my-4">
  <p>Aqui, você irá poder ler algumas novidades sobre o mundo da computação.</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>

<h2 class="font-monospace text-xl-center mt-4">Postagens recentes :</h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-info">Leia mais</button></a>
        
        <div class=" row">
        <small class="mt-2">Categoria: {{categoria.nome}}</small>
        <small class="col">Data de publicação: {{date}}</small>

        </div>
    </div>
</div>

{{else}}
    <h5 class="font-monospace">Nenhuma postagem! 🥱</h5>
{{/each}}